.notification-wrapper {
  position: fixed;
  top: 80px;
  right: 10px;
  width: 300px;
  z-index: 5500;
}

.notification-item {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
